body {
  font-family: 'Cinzel', serif;
  margin: 0px;
  padding: 0px;
}

#image {
  object-fit: fill;
  overflow: hidden;
  max-width: 100%;
}

#img-caption {
  background-color: #9ACFBE;
  color: white;
  font-size: 1vw;
  text-align: right;
  padding: 2px 100px 2px 200px;
}

#main {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 25% 450px 25% 30px;
  flex-wrap: wrap;
}

#title {
  background-color: #9ACFBE;
  font-size: 5vw;
  color: white;
  text-align: center;
  justify-content: space-around;
  grid-area: 1 / 1 / 2 / 4;
  border-bottom: 10px solid #ECF9F5;
}
 #subtitle {
   font-size: 4.5vw;
   background-color: #9ACFBE;
   color: white;
   text-align: right;
   justify-content: space-around;
   grid-area: 2 / 1 / 2 / 1;
   padding: 15px 5px 0px 0px;
 }

 #img-div {
   display: grid;
   grid-template-rows: : 90% 10%;
   grid-area: 2 / 2 / 3 / 4;
 }

 #tribute-info {
   grid-area: 3 / 1 / 3 / 4;
   background-color: white;
   color: #66AA94;
   padding: 15px;
   border-top: 10px solid #ECF9F5;
 }

 blockquote {
   background-color: #9ACFBE;
   text-align: center;
   color: white;
   font-size: 1.25em;
  }

  blockquote > p,
  blockquote > div {
    padding: 3px;
  }

 h3 {
   text-align: center;
   font-size: 1.25em;
 }

 li {
   padding-bottom: 5px;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 footer {
   grid-area: 4 / 1 / 4 / 5;
   background-color: #9ACFBE;
 }

 #tribute-link {
   background-color: #ECF9F5;
 }
